# Third-party libs and Django apps used by front
# Install using pip: http://pip.openplans.org/
# File format: http://pip.openplans.org/requirement-format.html

# Non-Python dependencies
# sudo apt-get install imagemagick libjpeg8-dev python2.7 redis-server supervisor
# sudo apt-get install libxml2 libxslt1.1 libxslt1-dev python-dev
# sudo apt install python3-bs4 python3-django python3-djangorestframework \
#     python3-redis python3-requests python3-sorl-thumbnail \
#     bpython3 \
#     python3-coverage python3-pytest python3-pytest-cov python3-pytest-django
#     python3-pytest-xdist

                                   # LICENSE
gunicorn>=20.1.0,<20.2             # MIT

git+https://github.com/denshoproject/densho-elastictools.git

#pytest-testmon
