# Third-party libs and Django apps used by front
# Install using pip: http://pip.openplans.org/
# File format: http://pip.openplans.org/requirement-format.html

# Non-Python dependencies
# sudo apt-get install imagemagick libjpeg8-dev python2.7 redis-server supervisor
# sudo apt-get install libxml2 libxslt1.1 libxslt1-dev python-dev


                                   # LICENSE
django>=3.0.0,<3.1                 # MIT
django-redis==4.11.0               # BSD
djangorestframework>=3.11.0,<3.12  # BSD
elasticsearch>=7.0.0,<8.0.0        # Apache
elasticsearch-dsl>=7.0.0,<8.0.0    # Apache
gunicorn==20.0.4                   # MIT
pykml==0.2.0                       # BSD
redis==3.4.1                       # MIT
requests==2.23.0                   # Apache2
sorl-thumbnail==12.6.3             # BSD

bpython

coverage
pytest
pytest-cov
pytest-django
pytest-testmon
pytest-xdist
