{% extends "wikiprox/base-print.html" %}
{% load thumbnail wikiprox_tags %}


{% block title %}{{ page.title }}{% endblock %}


{% block article %}
<!-- wikiprox/article-print.html -->

<h1 id="firstHeading" class="firstHeading">{{ page.title }}</h1>

{{ page.body|safe }}

{% endblock article %}


{% block sidebar_left %}
<div id="sidebar-left">

  <div class="block primarysources">
    <h2>
    Primary Sources
    </h2>
{% for source in page.sources %}
    <div class="primarysource-print" style="margin-bottom:32px;">
{% thumbnail source.img_url_local "700x700" as thumb_lg %}
<img src="{{ MEDIA_URL }}{{ thumb_lg }}" style="width:500px; float:left; padding-right:10px;" />
{% endthumbnail %}
      <div class="metadata" style="">
{{ source.caption|safe|linebreaks }}
{{ source.caption_extended|safe|linebreaks }}
{{ source.courtesy|safe|linebreaks }}
<p>
<strong>Densho ID: {{ source.densho_id }}</strong>
</p>
<p>
https://{{ request.META.HTTP_HOST }}{% url "wikiprox-source" source.encyclopedia_id %}
</p>
      </div>
      <div style="clear:both;"></div>
    </div><!-- .primarysource-print -->

{% endfor %}
  </div><!-- .block .primarysources -->

</div><!-- #sidebar-left -->
{% endblock sidebar_left %}
