{% extends "wikiprox/base.html" %}
{% load thumbnail wikiprox_tags %}


{% block title %}{{ page.title }}{% endblock %}


{% block css %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lightview-3.2.2/css/lightview/lightview.css"/>
  <style>
  .ddr_objects { width:{{ ddr_objects_width }}px; margin-left:10px; }
  span.ddr_object { margin:0px; border:0px; padding:0px; }
  .ddr_objects img { width:{{ ddr_img_width }}px; height:{{ ddr_img_width }}px; margin:0px; padding:0px; }
  #rgdatabox-Core { display: none; }
  #rgdatabox-CoreDisplay { display: none; }
  </style>
{% endblock css %}


{% block javascript %}{{ block.super }}
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.2.2/js/excanvas/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.2.2/js/spinners/spinners.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.2.2/js/lightview/lightview.js"></script>
<script type='text/javascript'>
  $(document).ready(function(){
      Lightview.setDefaultSkin('mac');
  });
</script>
{% endblock javascript %}


{% block contents %}{{ block.super }}

<!-- wikiprox/article.html -->
<div id="article" class="span6">

<h1 id="firstHeading" class="firstHeading">{{ page.title }}</h1>

<div id="share">
  <a href="{% url "wikiprox-page-print" page.title %}"><i class="icon-print"></i> Print</a>
  &nbsp;
  <a href="{% url "wikiprox-page-cite" page.title %}"
     class="lightview"
     data-lightview-type="iframe"
     data-lightview-group="cite-header"
     data-lightview-options="width: 1000, height: '100%'">
  <i class="icon-bookmark"></i>Cite
  </a>
  &nbsp;
  <!-- AddThis Button BEGIN -->
  <div class="addthis_inline_share_toolbox"></div>
  <!-- AddThis Button END -->
</div><!-- #share -->


{{ page.body|safe }}

<p class="text-right">
Last updated {{ page.modified }}.
</p>
<hr class="visible-phone"/>

</div><!-- #article .span8 -->
{% endblock contents %}


{% block sidebar_left %}
<div id="sidebar-left" class="span2 hidden-phone">


  <div class="block">
    <dl><strong>
      <dt>Category</dt>
{% for category in page.categories %}
      <dd><a href="{% url "wikiprox-categories" %}#{{ category }}">{{ category }}</a></dd>
{% endfor %}
    </strong></dl>
    <dl><strong>
      <dt>Table of Contents</dt>
      <dd>
        <a href="{% url "wikiprox-contents" %}">A-Z</a><br/>
        <a href="{% url "wikiprox-categories" %}">By Category</a><br/>
      </dd>
    </strong></dl>
    <dl>
{% if page.prev_page %}
      <dt><a href="{% url "wikiprox-page" page.prev_page %}">&laquo;&nbsp;Previous Article</a></dt>
      <dd>{{ page.prev_page }}</dd>
{% else %}
      <dt>&raquo; Previous Article</dt>
      <dd></dd>
{% endif %}
    </dl>
    <dl>
{% if page.next_page %}
      <dt><a href="{% url "wikiprox-page" page.next_page %}">&raquo;&nbsp;Next Article</a></dt>
      <dd>{{ page.next_page }}</dd>
{% else %}
      <dt>&raquo; Next Article</dt>
      <dd></dd>
{% endif %}
    </dl>
    <p>
    <a href="{% url "wikiprox-page-print" page.title %}"><i class="icon-print"></i> Printer-friendly</a><br/>
  <a href="{% url "wikiprox-page-cite" page.title %}"
     class="lightview"
     data-lightview-type="iframe"
     data-lightview-options="width: 1000, height: '100%'">
  <i class="icon-bookmark"></i>Cite
  </a>
    </p>
    <p>
    
<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />
<a href="/about/#usingandciting">Learn more&nbsp;&raquo;</a>

    </p>

  </div><!-- .block -->


</div><!-- #sidebar-left .span2 .hidden-phone -->


<div id="sidebar-left" class="visible-phone" style="margin-bottom:20px;">


  {% if page.sources.0 %}
  <!-- page.sources.0 {{ page.sources.0 }} - page.sources.0.img_url_local {{ page.sources.0.img_url_local }} -->
  {% thumbnail page.sources.0.img_url_local "260x400" as thumb_sm %}
  <div id="media-pointer" style="text-align:right; background:#fff; padding-left:20px; padding-bottom:10px; margin-left:20px; margin-bottom:20px; float:right;">
    <a href="#primary-sources">
      <img src="{{ MEDIA_URL }}{{ thumb_sm }}" style="width:100px;" title="" alt="" />
      <strong><i class="icon-chevron-down"></i>&nbsp;Media</strong>
    </a>
  </div>
  {% endthumbnail %}
{% endif %}
  <strong>
  Category:
{% for category in page.categories %}
    <a href="{% url "wikiprox-categories" %}#{{ category }}">{{ category }}</a>
{% endfor %}
  <br />
  Table of Contents:
  <a href="{% url "wikiprox-contents" %}">A-Z</a>
  | <a href="{% url "wikiprox-categories" %}">By Category</a>
  <br/>
<table border="0">
{% if page.prev_page %}<tr>
    <td><a href="{% url "wikiprox-page" page.prev_page %}">&laquo;&nbsp;Previous:</a></td>
    <td>
{{ page.prev_page|truncatechars:40 }}
    </td>
  </tr>{% endif %}
{% if page.next_page %}<tr>
    <td><a href="{% url "wikiprox-page" page.next_page %}">&raquo;&nbsp;Next:</a></td>
    <td>
{{ page.next_page|truncatechars:40 }}
    </td>
  </tr>{% endif %}
</table>
  <a href="/about/#usingandciting">Creative Commons</a><br/>
  </strong>


</div><!-- #sidebar-left .visible-phone -->
{% endblock sidebar_left %}


{% block sidebar_right %}
<!-- This section is visible on phones, hidden on tablets and desktops -->
<div id="sidebar-right" class="span3 visible-phone">


{% if page.sources %}
  <a name="primary-sources"></a>
  <div class="block primarysources">
{% for source in page.sources %}
<!-- source {{ source }} -->
{% primarysource source %}
{% endfor %}
  </div><!-- .block .primarysources -->
  <div class="toplink visible-phone"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
{% endif %}{# page.sources #}


{% if ddr_error %}
  <div id="error" style="display:block;">
    Could not get related DR objects: (DDR_API: {{ ddr_error }}).
  </div>
{% endif %}
{% if ddr_objects %}
  <div class="block ddr_objects">
    <p>
    <strong>From the Densho Digital Repository</strong>
    </p>
    <p>
{% for object in ddr_objects %}{% ddrobject page object %}{% endfor %}
    </p>
    <p>
    <a href="/ddr/{{ page.title }}/" class="more">See more »</a>
    </p>
  </div><!-- .block .ddr_objects -->
  <div class="toplink visible-phone"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
{% endif %}{# ddr_objects #}


  <div class="block">
    <p>
    <strong>
    <a href="/history/">About the Incarceration</a><br />
    <a href="/terminology/">Do Words Matter?</a><br />
	<a href="/timeline/">Historical Timeline</a></br />
	<a href="https://maps.densho.org/sitesofshame/" class="offsite" target="offsite">Map</a></br />
    </strong>
    </p>
  </div><!-- .block -->


</div><!-- #sidebar-right .span2 .visible-phone -->


<!-- This section is visible on tablets and desktops, hidden on phones -->
<div id="sidebar-right" class="span3 hidden-phone">


{% if page.sources %}
  <a name="primary-sources"></a>
  <div class="block primarysources">
{% for source in page.sources %}
<!-- source {{ source }} -->
{% primarysource_lightbox source %}
{% endfor %}
  </div><!-- .block .primarysources -->
  <div class="toplink visible-phone"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
{% endif %}{# page.sources #}


{% if ddr_error %}
  <div id="error" style="display:block;">
    Could not get related DR objects: (DDR_API: {{ ddr_error }}).
  </div>
{% endif %}
{% if ddr_objects %}
  <div class="block ddr_objects">
    <p>
    <strong>From the Densho Digital Repository</strong>
    </p>
    <p>
{% for object in ddr_objects %}{% ddrobject page object %}{% endfor %}
    </p>
    <p>
    <a href="/ddr/{{ page.title }}/" class="more">See more »</a>
    </p>
  </div><!-- .block .ddr_objects -->
{% endif %}{# ddr_objects #}


  <div class="block">
    <p>
    <strong>
    <a href="/history/">About the Incarceration</a><br/>
    <a href="/terminology/">Do Words Matter?</a><br/>
	<a href="/timeline/">Historical Timeline</a></br />
	<a href="https://maps.densho.org/sitesofshame/" class="offsite" target="offsite">Map</a></br />
   </strong>
    </p>
  </div><!-- .block -->


</div><!-- #sidebar-right .span2 .hidden-phone -->
{% endblock sidebar_right %}


{% block footer %}{{ block.super }}
<p>
Icons from Glyphicons Free, licensed under CC BY 3.0.
</p>
<div class="well"><p class="small">This material is based upon work assisted by a grant from the Department of the Interior, National Park Service. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the Department of the Interior.</p></div>

<a class="api-url" href="{% url "wikiprox-api-page" page.url_title %}">{% url "wikiprox-api-page" page.url_title %}</a>
{% endblock %}
