{% extends "wikiprox/base.html" %}


{% block title %}{{ page.title }}{% endblock %}


{% block contents %}
<!-- wikiprox/author.html -->
<div class="span8">

<p>
              <a href="/categories/">Browse Topics</a>
&nbsp;|&nbsp; <a href="/contents/">Table of Contents A-Z</a>
&nbsp;|&nbsp; <a href="/authors/"><b>Authors</b></a>
&nbsp;|&nbsp; <a href="/search/">Search</a>
</p>

<h1 id="firstHeading" class="firstHeading">{{ author.title }}</h1>

<div id="share">

  <!-- AddThis Button BEGIN -->
  <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=densho"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=densho"></script>
<!-- AddThis Button END -->

</div><!-- #share -->

{{ author.body|safe }}

</div><!-- .span8 -->
{% endblock contents %}


{% block sidebar_right %}
<div id="sidebar-right" class="span4">

{% if author.articles %}
  <div class="block author-articles">
    <dl>
      <dt>By this author</dt>
{% for article in author.articles %}
        <dd>- <a href="{{ article.absolute_url }}">{{ article.title }}</a></dd>
{% endfor %}
      </dl>
  </div><!-- .block .author-articles -->
{% endif %}{#author_articles #}

</div><!-- #sidebar-right -->
{% endblock sidebar_right %}
