{% extends "wikiprox/base.html" %}


{% block title %}Authors{% endblock %}


{% block css %}
<style>
table#authors td {
    padding-right: 32px;
}
</style>
{% endblock %}

{% block contents %}
<!-- wikiprox/authors.html -->
<div class="span12">

<p>
              <a href="{% url "wikiprox-categories" %}">Browse Topics</a>
&nbsp;|&nbsp; <a href="{% url "wikiprox-contents" %}">Table of Contents A-Z</a>
&nbsp;|&nbsp; <b>Authors</b>
&nbsp;|&nbsp; <a href="{% url "wikiprox-search" %}">Search</a>
</p>

<h1>Authors</h1>

<p>The contributors to the Densho Encyclopedia represent a diverse range
of backgrounds and experiences. Many are professional scholars who
have authored important books or articles that specifically cover the
topics they write about here. Others are graduate students whose
research focuses on some aspect of the Japanese American experience.
Still others are journalists, community activists, or individuals who have
played a role in telling the Japanese American story or who have been
active players in that story. The roster below contains links to their
bios and a list of entries they have contributed to the encyclopedia.</p>

<p><strong>Editor: Brian Niiya, Content Director, Densho.</strong></p>

<div class="authors row">
{% for column in authors %}
  <div class="span3 column{{ forloop.counter }}">
{% for author in column %}
    <a href="{{ author.absolute_url }}">{{ author }}</a><br/>
{% endfor %}
  </div>
{% endfor %}
</div>

</div><!-- .span12 -->
{% endblock contents %}
