{% load thumbnail %}<span class="ddr_object"
><a href="{{ object.img_url }}"
    class="document lightview"
    data-lightview-caption="{{ object.title }} ({{ object.id }})"
>{% thumbnail object.img_url "67x67" crop="center" as thumb %}<img
      src="{{ DDR_MEDIA_URL }}{{ thumb }}"
      large="{{ object.img_url }}"
      more="/ddr/{{ page.title }}/"
      title="{{ object.title|safe }}"
      alt="{{ object.title|safe }}"
/>{% empty %}<img
      class="ddr_img_empty"
      src="http://ddrstage.densho.org/media/ddr-densho/logo.png" width="67"
/>{% endthumbnail %}</a></span
>