{% extends "wikiprox/base.html" %}



{% block title %}{{ source.caption|truncatechars:50 }} ({{ source.encyclopedia_id }}) | Primary Sources{% endblock %}



{% block javascript %}{{ block.super }}
{% if source.media_format == 'video' %}
<script type="text/javascript">
    jwplayer("videocontainer").setup({
        autostart: 'false',
        controlbar: 'bottom',
        width: 640,
        height: {% if source.aspect_ratio == 'hd' %}380{% else %}500{% endif %},
        image: "{{ source.thumbnail_lg }}",
        modes: [
{% if source.original %}
            { type: "html5",
              config: {
                file: "{{ source.original }}"
              }
            },
{% endif %}
{% if source.streaming_url %}
            { type: "flash",
              src: "{{ STATIC_URL }}jwplayer-5.9/player.swf",
              config: {
                provider: "rtmp",
                streamer: "{{ rtmp_streamer }}",
                file: "{{ source.streaming_url }}"
              }
            }{% if source.streaming_url and source.original %},{% endif %}
{% endif %}
{% if source.original %}
            { type: "download",
              config: {
                file: "{{ source.original }}",
                provider: 'video'
              }
            }
{% endif %}
        ]
    });
</script>
{% endif %}
{% endblock javascript %}



{% block contents %}
<!-- wikiprox/source.html -->
<div class="primarysource-detail span12">

<p>
<a href="/{{ source.headword }}/">&laquo; Back to article {{ source.headword }}</a>
</p>

<h1 id="firstHeading" class="firstHeading">
Primary Source &mdash; {{ source.encyclopedia_id }}
</h1>

<p>
<div id="media" class="{{ source.media_format }} {% if source.aspect_ratio %}{{ source.aspect_ratio }}{% endif %}">
{% if source.media_format == 'image' %}
  <img src="{{ source.thumbnail_lg }}" />
  {% if source.original %}<br/><a href="{{ source.original }}">Download full-size version ({{ source.original_size|filesizeformat }})</a>{% endif %}
{% endif %}
{% if source.media_format == 'document' %}
  <img src="{{ source.thumbnail_lg }}" />
  {% if source.original %}<br/><a href="{{ source.original }}">Download full PDF ({{ source.original_size|filesizeformat }})</a>{% endif %}
{% endif %}
{% if source.media_format == 'video' %}
  <div id="videocontainer">Loading video player...</div>
  {% if source.transcript %}<br/><a href="{{ source.transcript }}" target="_transcript">Download a transcript</a>{% endif %}
{% endif %}
{% if source.external_url %}&nbsp;&mdash;&nbsp; <a href="{{ source.external_url }}" class="offsite" target="offsite">{{ source.external_url }}</a>{% endif %}
</div><!-- #media -->
</p>

{{ source.caption|safe|linebreaks }}
{{ source.caption_extended|safe|linebreaks }}

{{ source.courtesy|safe|linebreaks }}

<p>
<strong>Densho ID: {{ source.densho_id }}</strong>
</p>

<p>
<a href="{% url "wikiprox-source-cite" source.encyclopedia_id %}"
   class="lightview"
   data-lightview-type="iframe"
   data-lightview-group="cite-sidebar"
   data-lightview-options="width: 1000, height: '100%'">
<i class="icon-bookmark"></i>Cite this primary source
</a>
</p>

<p>
<a href="/{{ source.headword }}/">&laquo; Back to article {{ source.headword }}</a>
</p>

<div id="rightsStatement">
{% if source.creative_commons %}
<p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
</p>
<p>&copy; Densho 2014. This primary source is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. More information <a href="/about/#usingandciting">&raquo;</a></p>
{% else %}
<div class="alert alert-block">The Densho Encyclopedia has included this primary source by prior agreement with the rights holder or under fair-use doctrine. For more information about licensing and use restrictions, please contact the original rights holder. If you are the rights holder and believe that the work is being used improperly, please <a href="/about/#contact">contact</a> us.</div>
{% endif %}
</div><!-- #rightsStatement -->

</div><!-- .source-detail -->
{% endblock contents %}



{# PS pages should not include standard cc message #}
{% block footer %}
<div class="footer" id="footerToolsMenu">
  <a href="/about/#usingandciting">Using and Citing Articles</a> | 
  <a href="/about/#tosprivacy/">Terms of Use/Privacy</a> | 
  <a href="/about/">About</a> | 
  <a href="/about/#contact">Contact</a>
</div>
{% endblock footer %}
