{% extends "wikiprox/base.html" %}


{% block title %}Article To Be Published{% endblock %}


{% block contents %}
<div class="span12">

<p>
              <a href="{% url "wikiprox-categories" %}">Browse Topics</a>
&nbsp;|&nbsp; <a href="{% url "wikiprox-contents" %}">Table of Contents A-Z</a>
&nbsp;|&nbsp; <a href="{% url "wikiprox-authors" %}">Authors</a>
&nbsp;|&nbsp; <a href="{% url "wikiprox-search" %}">Search</a>
</p>

<h1 id="firstHeading" class="firstHeading">To Be Published</h1>

<p class="alert alert-info">
<strong>We're sorry!</strong><br />An article for this topic is in development and will be published soon. Please check back again!
</p>

</div><!-- .span12 -->
{% endblock contents %}
