{% load thumbnail %}
{% thumbnail img_url_local "260x260" as thumb_sm %}
{% thumbnail img_url_local "700x700" as thumb_lg %}
{% if lightbox %}
<div class="primarysource"><!-- lightbox -->
  <a href="mediaspace-{{ encyclopedia_id }}"
     class="video lightview"
     data-lightview-type="inline"
     data-lightview-options="
         keyboard: { esc: false },
         afterUpdate: function(element, position) {
             //jwplayer callback script
             jwplayer('mediaspace-{{ encyclopedia_id }}').setup({
                 'autostart': 'false',
                 'controlbar': 'bottom',
                 'width': '{{ xy.0 }}',
                 'height': '{{ xy.1 }}',
                 'image': '{{ MEDIA_URL }}{{ thumb_lg }}',
                 'modes' : [
{% if original %}
                     { type: 'html5',
                       config: {
                         file: '{{ original }}'
                       }
                     },
{% endif %}
{% if streaming_url %}
                     { type: 'flash',
                       src: '{{ STATIC_URL }}jwplayer-5.9/player.swf',
                       config: {
                         provider: 'rtmp',
                         streamer: '{{ rtmp_streamer }}',
                         file: '{{ streaming_url }}'
                       }
                     }{% if streaming_url and original %},{% endif %}
{% endif %}
{% if original %}
                     { type: 'download',
                         config: {
                             'file' : '{{ original }}',
                             'provider' : 'video'
                         }
                     }
{% endif %}
                 ]
             });
         }"
     data-lightview-caption="{{ caption }} {{ courtesy }} <a class='more' href='{{ href }}'>More info &raquo;</a>"
  >
    <img src="{{ MEDIA_URL }}{{ thumb_sm }}"
         large="{{ MEDIA_URL }}{{ thumb_lg }}"
         more="{{ href }}" />
  </a>
  <br/>
  <span class="caption">
    {{ caption }}
    {{ courtesy }}
    <a class="more" href="{{ href }}">More info &raquo;</a>
  </span>
</div>
<div id="mediaspace-{{ encyclopedia_id }}" style="display:none;width:{{ xyms.0 }}px;height:{{ xyms.1 }}px;">This div will end up in the lightbox</div>
{% else %}
<div class="primarysource">
  <a href="{{ href }}"><img src="{{ MEDIA_URL }}{{ thumb_sm }}" /></a>
  <br/>
  <span class="caption">
    {{ caption }}
    {{ courtesy }}
    <a class="more" href="{{ href }}">More info &raquo;</a>
  </span>
</div>
{% endif %}{# lightbox #}
{% endthumbnail %}
{% endthumbnail %}
