{% extends "wikiprox/base.html" %}
{% load wikiprox_tags %}


{% block title %}{{ title }}{% endblock %}


{% block css %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lightview-3.2.2/css/lightview/lightview.css"/>
{% endblock css %}


{% block javascript %}{{ block.super }}
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.2.2/js/excanvas/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.2.2/js/spinners/spinners.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.2.2/js/lightview/lightview.js"></script>
<script type='text/javascript'>
  $(document).ready(function(){
      Lightview.setDefaultSkin('mac');
  });
</script>
{% endblock javascript %}


{% block contents %}{{ block.super }}

<!-- wikiprox/article.html -->
<div id="article" class="span6">

<h1 id="firstHeading" class="firstHeading">{{ title }}</h1>

<div id="share">
  <a href="{% url wikiprox-page-print title %}"><i class="icon-print"></i> Print</a>
  &nbsp;
  <a href="{% url wikiprox-page-cite title %}"
     class="lightview"
     data-lightview-type="iframe"
     data-lightview-group="cite-header"
     data-lightview-options="width: 1000, height: '100%'">
  <i class="icon-bookmark"></i>Cite
  </a>
  &nbsp;
  <!-- AddThis Button BEGIN -->
  <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=densho"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=densho"></script>
<!-- AddThis Button END -->

</div><!-- #share -->

{{ bodycontent|safe }}

</div><!-- #article .span8 -->
{% endblock contents %}


{% block sidebar_left %}
<div id="sidebar-left" class="span2 hidden-phone">
  <div class="block">
    <dl><strong>
      <dt>Category</dt>
{% for category in page_categories %}
      <dd><a href="/categories/#{{ category }}">{{ category }}</a></dd>
{% endfor %}
    </strong></dl>
    <dl><strong>
      <dt>Table of Contents</dt>
      <dd>
        <a href="{% url wikiprox-contents %}">A-Z</a><br/>
        <a href="{% url wikiprox-categories %}">By Category</a><br/>
      </dd>
    </strong></dl>
    <dl>
{% if prev_page %}
      <dt><a href="/{{ prev_page }}/">&laquo;&nbsp;Previous Article</a></dt>
      <dd>{{ prev_page }}</dd>
{% else %}
      <dt>&raquo; Previous Article</dt>
      <dd></dd>
{% endif %}
    </dl>
    <dl>
{% if next_page %}
      <dt><a href="/{{ next_page }}/">&raquo;&nbsp;Next Article</a></dt>
      <dd>{{ next_page }}</dd>
{% else %}
      <dt>&raquo; Next Article</dt>
      <dd></dd>
{% endif %}
    </dl>
    <p>
    <a href="{% url wikiprox-page-print title %}"><i class="icon-print"></i> Printer-friendly</a><br/>
  <a href="{% url wikiprox-page-cite title %}"
     class="lightview"
     data-lightview-type="iframe"
     data-lightview-options="width: 1000, height: '100%'">
  <i class="icon-bookmark"></i>Cite
  </a>
    </p>
    <p>
    
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />
<a href="/about/#usingandciting">Learn more&nbsp;&raquo;</a>

    </p>

  </div><!-- .block -->
</div><!-- #sidebar-left .span2 .hidden-phone -->

<div id="sidebar-left" class="visible-phone" style="margin-bottom:20px;">
{% if sources.0 %}
  <div id="media-pointer" style="text-align:right; background:#fff; padding-left:20px; padding-bottom:10px; margin-left:20px; margin-bottom:20px; float:right;">
    <a href="#primary-sources">
      <img src="{{ sources.0.thumbnail_sm }}" style="width:100px;" title="" alt="" />
      <h4><i class="icon-chevron-down"></i>&nbsp;Media</h4>
    </a>
  </div>
{% endif %}
  <h4>
  Category:
{% for category in page_categories %}
    <a href="/categories/#{{ category }}">{{ category }}</a>
{% endfor %}
  <br />
  Table of Contents:
  <a href="{% url wikiprox-contents %}">A-Z</a>
  | <a href="{% url wikiprox-categories %}">By Category</a>
  <br/>
<table border="0">
  <tr>
    <td>Previous:</td>
    <td>
{% if prev_page %}<a href="/{{ prev_page }}/">&laquo;&nbsp;{{ prev_page|truncatechars:40 }}</a>{% endif %}
    </td>
  </tr>
  <tr>
    <td>Next:</td>
    <td>
{% if next_page %}<a href="/{{ next_page }}/">&raquo;&nbsp;{{ next_page|truncatechars:40 }}</a>{% endif %}
    </td>
  </tr>
</table>
  <a href="/about/#usingandciting">Creative Commons</a><br/>
  </h4>
</div><!-- #sidebar-left .visible-phone -->
{% endblock sidebar_left %}


{% block sidebar_right %}
<div id="sidebar-right" class="span3 visible-phone">

  <a name="primary-sources"></a>
  <div class="block primarysources">
{% for source in sources %}
{% primarysource source %}
{% endfor %}
  </div><!-- .block .primarysources -->

  <div class="toplink visible-phone"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>

  <div class="block">
    <p>
    <strong>
	<!--What Does an American Look Like?
	For that matter, what does an enemy look like? And what can happen to those people who look like the enemy? In 1943, President Franklin D. Roosevelt said, "The principle on which this country was founded and by which it has always been governed is that Americanism is a matter of mind and heart; Americanism is not, and never was, a matter of race or ancestry." [1]
	A year earlier, however, Roosevelt had authorized incarcerating more than 110,000 innocent people based on their ancestry, in what he called "concentration camps." Although two-thirds were U.S. citizens, they were targeted because of their ancestry and the way they looked. How could this happen?-->
    <a href="/history/">About the Incarceration</a><br/>
    <a href="/terminology/">Do Words Matter?</a><br/>
    </strong>
    </p>
  </div><!-- .block -->

</div><!-- #sidebar-right .span2 .visible-phone -->
<div id="sidebar-right" class="span3 hidden-phone">

  <a name="primary-sources"></a>
  <div class="block primarysources">
{% for source in sources %}
{% primarysource_lightbox source %}
{% endfor %}
  </div><!-- .block .primarysources -->

  <div class="toplink visible-phone"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>

  <div class="block">
    <p>
    <strong>
	<!--What Does an American Look Like?
	For that matter, what does an enemy look like? And what can happen to those people who look like the enemy? In 1943, President Franklin D. Roosevelt said, "The principle on which this country was founded and by which it has always been governed is that Americanism is a matter of mind and heart; Americanism is not, and never was, a matter of race or ancestry." [1]
	A year earlier, however, Roosevelt had authorized incarcerating more than 110,000 innocent people based on their ancestry, in what he called "concentration camps." Although two-thirds were U.S. citizens, they were targeted because of their ancestry and the way they looked. How could this happen?-->
    <a href="/history/">About the Incarceration</a><br/>
    <a href="/terminology/">Do Words Matter?</a><br/>
    </strong>
    </p>
  </div><!-- .block -->

</div><!-- #sidebar-right .span2 .hidden-phone -->
{% endblock sidebar_right %}


{% block footer %}{{ block.super }}
<p>
Icons from Glyphicons Free, licensed under CC BY 3.0.
</p>
<div class="well"><p class="small">This material is based upon work assisted by a grant from the Department of the Interior, National Park Service. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the Department of the Interior.</p></div>
{% endblock %}
