{% extends "wikiprox/base.html" %}
{% load wikiprox_tags %}


{% block title %}{{ title }}{% endblock %}


{% block article %}

ARTICLE

<h1 id="firstHeading" class="firstHeading">{{ title }}</h1>

<div id="share">
  <a href="{% url wikiprox-page-print title %}"><img src="{{ STATIC_URL }}print.png" alt="Printer-friendly page" title="Printer-friendly page" /></a>
  <a href="{% url wikiprox-page-cite title %}"><img src="{{ STATIC_URL }}cite.png" alt="Cite this article" title="Cite this article" /></a>

  <!-- AddThis Button BEGIN -->
  <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=densho"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=densho"></script>
<!-- AddThis Button END -->

</div><!-- #share -->

{{ bodycontent|safe }}

{% endblock article %}


{% block sidebar_right %}
<div id="sidebar-right">

  <div class="block">

    <dl><strong>
      <dt>Category</dt>
{% for category in page_categories %}
      <dd><a href="/Category:{{ category }}/">{{ category }}</a></dd>
{% endfor %}
    </strong></dl>

    <dl><strong>
      <dt>Table of Contents</dt>
      <dd>
        <a href="{% url wikiprox-contents %}">A-Z</a><br/>
        <a href="{% url wikiprox-categories %}">By Category</a><br/>
      </dd>
    </strong></dl>

    <dl>
{% if prev_page %}
      <dt><a href="/{{ prev_page }}/">&laquo; Previous Article</a></dt>
      <dd>{{ prev_page }}</dd>
{% else %}
      <dt>&raquo; Previous Article</dt>
      <dd></dd>
{% endif %}
    </dl>
    <dl>
{% if next_page %}
      <dt><a href="/{{ next_page }}/">&raquo; Next Article</a></dt>
      <dd>{{ next_page }}</dd>
{% else %}
      <dt>&raquo; Next Article</dt>
      <dd></dd>
{% endif %}
    </dl>

    <p>
    <a href="{% url wikiprox-page-print title %}">Print</a><br/>
    <a href="{% url wikiprox-page-cite title %}">Cite</a><br/>
    </p>

    <p>
    <a href="">Creative Commons</a><br/>
    </p>

  </div><!-- .block -->

</div><!-- #sidebar-right -->
{% endblock sidebar_right %}


{% block sidebar_left %}
<div id="sidebar-left">

  <div class="block primarysources">
{% for source in sources %}
{% primarysource source %}
{% endfor %}
  </div><!-- .block .primarysources -->

  <div class="block">
    <p>
    <strong>
    <a href="/About_the_Encyclopedia/">About the Incarceration</a><br/>
    <a href="/Terminology/">Do Words Matter?</a><br/>
    </strong>
    </p>
  </div><!-- .block -->

</div><!-- #sidebar-left -->
{% endblock sidebar_left %}
