{% extends "wikiprox/base.html" %}


{% block title %}{{ title }}{% endblock %}


{% block contents %}
<div class="span8">
     
author.html

<h1 id="firstHeading" class="firstHeading">{{ title }}</h1>

<div id="share">

  <!-- AddThis Button BEGIN -->
  <a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=densho"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=densho"></script>
<!-- AddThis Button END -->

</div><!-- #share -->

{{ bodycontent|safe }}

</div><!-- .span8 -->
{% endblock contents %}


{% block sidebar_right %}
<div id="sidebar-right" class="span4">

  <div class="block">
    <dl><strong>
      <dt><a href="/Category:Authors/">Authors</a></dt>
    </strong></dl>
  </div><!-- .block -->

{% if author_articles %}
  <div class="block author-articles">
    <dl>
      <dt>By this author</dt>
{% for article in author_articles %}
        <dd>- <a href="/{{ article }}/">{{ article }}</a></dd>
{% endfor %}
      </dl>
  </div><!-- .block .author-articles -->
{% endif %}{#author_articles #}

</div><!-- #sidebar-right -->
{% endblock sidebar_right %}
