{% extends "base.html" %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lightview-3.1.4/css/lightview/lightview.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wikiprox.css" />
{% endblock css %}


{% block javascript %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jwplayer-5.9/jwplayer.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.1.4/js/excanvas/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.1.4/js/spinners/spinners.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}lightview-3.1.4/js/lightview/lightview.js"></script>
<script type='text/javascript'>
  $(document).ready(function(){
      function addLightboxClass() {
          var msg = $(window).width();
          if (Modernizr.mq('screen and (min-width: 768px)')) {
              $('#mediaquery').text($(window).width() + ' LIGHTBOX');
              // image
              $('div.primarysource a.image img').each(function() {
                  // add lightview class, point link to img src
                  $(this).parent().addClass('lightview');
                  $(this).parent().attr({ href:$(this).attr('large') });
              });
              // document
              $('div.primarysource a.document img').each(function() {
                  // add lightview class, point link to img src
                  $(this).parent().addClass('lightview');
                  $(this).parent().attr({ href:$(this).attr('large') });
              });
              // video
              $('div.primarysource a.video img').each(function() {
                  // add lightview class, point link to img src
                  $(this).parent().addClass('lightview');
              });
          }
          else {
              $('#mediaquery').text($(window).width() + ' DISABLED');
              // image
              $('div.primarysource a.image img').each(function() {
                  // remove lightview class, point link to primarysource page
                  $(this).parent().removeClass('lightview');
                  $(this).parent().attr({ href:$(this).attr('more') });
              });
              // document
              $('div.primarysource a.document img').each(function() {
                  // remove lightview class, point link to primarysource page
                  $(this).parent().removeClass('lightview');
                  $(this).parent().attr({ href:$(this).attr('more') });
              });
              // video
              $('div.primarysource a.video img').each(function() {
                  // remove lightview class, point link to primarysource page
                  $(this).parent().removeClass('lightview');
                  $(this).parent().attr({ href:$(this).attr('more') });
              });
          }
      }
      addLightboxClass();
      $(window).resize(function() {
          addLightboxClass();
      });
      Lightview.setDefaultSkin('mac');
  });
</script>
{% endblock javascript %}


{% block footer %}

<div id="ccNotice">
<p>
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
	</p>
<p>
&copy; Densho 2012. The text of this work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. Where indicated, images and other primary source materials may be subject to use restrictions by their respective rights holders. <a href="/about/#usingandciting">More information &raquo;</a>
</p>
</div>

<div class="footer" id="footerToolsMenu">

	<a href="/about/#usingandciting">Using and Citing Articles</a> | 
	<a href="/about/#tosprivacy/">Terms of Use/Privacy</a> | 
	<a href="/about/">About</a> | 
	<a href="/about/#contact">Contact</a>
	
</div>

{% if lastmod %}<p class="lastmod">{{ lastmod }}</p>{% endif %}
{% endblock footer %}
