{% extends "base.html" %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/lightview-3.1.4/css/lightview/lightview.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/wikiprox.css" />
{% endblock css %}


{% block javascript %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/jwplayer-5.9/jwplayer.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ MEDIA_URL }}/lightview-3.1.4/js/excanvas/excanvas.js"></script>
<![endif]-->
<script type="text/javascript" src="{{ MEDIA_URL }}/lightview-3.1.4/js/spinners/spinners.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}/lightview-3.1.4/js/lightview/lightview.js"></script>
<script type='text/javascript'>
  Lightview.setDefaultSkin('mac');
</script>
{% endblock javascript %}


{% block footer %}
{% if lastmod %}<p class="lastmod">{{ lastmod }}</p>{% endif %}

<div id="ccNotice">
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />
Copyright &copy;2012 Densho. The text of this article is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. Where indicated, images and other primary source materials may be subject to use restrictions by their respective rights holders.  
</div>

<div id="footerToolsMenu">Using and Citing Articles | Terms of Use/Privacy | <a href="/about/">About</a> | <a href="/contact/">Contact</a></div>

{% endblock footer %}
