{% extends "wikiprox/base.html" %}


{% block title %}Table of Contents &mdash; A-Z{% endblock %}


{% block contents %}
<div class="span12">

contents.html

<h1>Table of Contents &mdash; A-Z</h1>

{% regroup articles by first_letter as letters_list %}
<dl>
{% for letter in letters_list %}
<dt><h2>{{ letter.grouper }}</h2></dt>
<dd>
{% for article in letter.list %}
<a href="/{{ article.title }}/">{{ article.title }}</a>&nbsp;&nbsp;
{% endfor %}
</dd>
{% endfor %}
</dl>

</div><!-- .span12 -->
{% endblock contents %}
