{% if lightbox %}
<div class="primarysource"><!-- lightbox -->
  <a href="{{ thumb_lg }}"
     class="document lightview"
     data-lightview-caption="{{ caption }} {{ courtesy }} <a class='more' href='{{ href }}'>More info &raquo;</a>">
    <img src="{{ thumb_sm }}"
         large="{{ thumb_lg }}"
         more="{{ href }}" />
  </a>
  </span>
  <br/>
  <span class="caption">
    {{ caption }}
    {{ courtesy }}
    <a class="more" href="{{ href }}">More info &raquo;</a>
  </span>
</div>
{% else %}
<div class="primarysource">
  <a href="{{ href }}"><img src="{{ thumb_sm }}" /></a>
  </span>
  <br/>
  <span class="caption">
    {{ caption }}
    {{ courtesy }}
    <a class="more" href="{{ href }}">More info &raquo;</a>
  </span>
</div>
{% endif %}{# lightbox %}