{% extends "base-openlayers.html" %}



{% block title %}Locations{% endblock %}



{% block javascript %}
<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript">
  $(document).ready(function(){


var map = new OpenLayers.Map({
    div: "openlayers-map",
    controls: [
        new OpenLayers.Control.Navigation(),
        new OpenLayers.Control.LayerSwitcher({'ascending':false}),
        new OpenLayers.Control.ScaleLine(),
        new OpenLayers.Control.KeyboardDefaults()
    ],
    layers: [
        new OpenLayers.Layer.WMS(
            "WMS", "http://vmap0.tiles.osgeo.org/wms/vmap0",
            {layers: "basic"}
        ),
{% for category_code,category_name in categories %}
        new OpenLayers.Layer.Vector("{{ category_name }}", {
            strategies: [new OpenLayers.Strategy.Fixed()],
            protocol: new OpenLayers.Protocol.HTTP({
                url: "{% url wikiprox-locations-kml-category category_code %}",
                format: new OpenLayers.Format.KML({
                    extractStyles: true,
                    extractAttributes: true,
                    maxDepth: 2
                })
            })
        }){% if not forloop.last %},{% endif %}
{% endfor %}
    ],
    center: new OpenLayers.LonLat(-100,38),
    zoom: 5
});



  });
</script>
{% endblock javascript %}



{% block contents %}

<h1 id="firstHeading" class="firstHeading">
Locations
</h1>

<p>
<a href="{% url wikiprox-locations-kml %}">locations.kml</a>
</p>

<p>
layers: {{ layers }}
</p>

<div id="openlayers-map" style="width:100%; height:100%"></div>

{% endblock contents %}
