{% extends "base.html" %}


{% block title %}{{ title }}{% endblock %}


{% block contents %}
<h1 id="firstHeading" class="firstHeading">{{ title }}</h1>
{{ bodycontent|safe }}
{% endblock contents %}


{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/wikiprox.css" />
{% endblock css %}


{% block javascript %}
<script src="{{ MEDIA_URL }}prettyPhoto/js/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $("a[rel^='prettyPhoto']").prettyPhoto({
        	show_title: false,
			allow_resize: true, /* Resize the photos bigger than viewport. true/false */
			default_width: 500,
			default_height: 350,
			theme: 'light_square', /* light_rounded / dark_rounded /  / dark_square / facebook */
			horizontal_padding: 20, /* The padding on each side of the picture */
			autoplay: false,
			overlay_gallery: true, /* If set to true, a gallery will overlay the fullscreen image on mouse over */
			keyboard_shortcuts: true, /* Set to false if you open forms inside prettyPhoto */
			ie6_fallback: true,
			custom_markup: '',
			social_tools: false
		});
	});
</script>
{% endblock javascript %}
