{% extends "wikiprox/base.html" %}



{% block title %}{{ source.title }}{% endblock %}



{% block javascript %}{{ block.super }}
<script type="text/javascript">
    var flashvars = {
        {% if rtmp_streamer %}streamer: "{{ rtmp_streamer }}",{% endif %}
        file: "{{ source.streaming_url }}",
        image: "{{ source.thumbnail_lg }}",
        autostart:'true'
    };
    var params = {
        allowfullscreen:'true',
        allowscriptaccess:'always'
    };
    var attributes = {
        id:'player1',
        name:'player1'
    };
    swfobject.embedSWF(
        '{{ MEDIA_URL }}jwplayer-5.9/player.swf',
        'videoplayer',
        '640','{% if source.aspect_ratio == 'hd' %}380{% else %}500{% endif %}',
        '9.0.115',
        'false',
        flashvars, params, attributes);
</script>
{% endblock javascript %}



{% block contents %}
<div class="primarysource-detail">

<h1 id="firstHeading" class="firstHeading">
{% if source.title %}{{ source.title }}{% else %}{{ source.densho_id }}{% endif %}
</h1>

<div id="media">
{% if source.media_format == 'image' %}
  <img src="{{ source.thumbnail_lg }}" />
  <br/>
  <a href="{{ source.original }}">full-size image</a>
{% endif %}
{% if source.media_format == 'document' %}
  <img src="{{ source.thumbnail_lg }}" />
  <br/>
  <a href="{{ source.original }}">document</a>
{% endif %}
{% if source.media_format == 'video' %}
  <div id="videoplayer">
    JW Player goes here
  </div>
{% endif %}
</div><!-- #media -->

{{ source.caption|safe|linebreaks }}

{{ source.courtesy|safe|linebreaks }}


<table>
<tr><th>id</th><td>{{ source.id }}</td></tr>
<tr><th>created</th><td>{{ source.created }}</td></tr>
<tr><th>modified</th><td>{{ source.modified }}</td></tr>

<tr><th>densho_id</th><td>{{ source.densho_id }}</td></tr>
<tr><th>encyclopedia_id</th><td>{{ source.encyclopedia_id }}</td></tr>

<tr><th>streaming_url</th><td>{{ source.streaming_url }}</td></tr>
<tr><th>original</th><td>{{ source.original }}</td></tr>
<tr><th>transcript</th><td>{{ source.transcript }}</td></tr>
<tr><th>display</th><td>{{ source.display }}</td></tr>
<tr><th>external_url</th><td>{{ source.external_url }}</td></tr>

<tr><th>media_format</th><td>{{ source.media_format }}</td></tr>
<tr><th>aspect_ratio</th><td>{{ source.aspect_ratio }}</td></tr>

<tr><th>collection_name</th><td>{{ source.collection_name }}</td></tr>
<tr><th>institution_id</th><td>{{ source.institution_id }}</td></tr>

<tr><th>caption</th><td>{{ source.caption }}</td></tr>
<tr><th>courtesy</th><td>{{ source.courtesy }}</td></tr>

<tr><th>headword</th><td><a href="{{ SOURCES_BASE }}{{ source.headword }}">{{ source.headword }}</a></td></tr>
<tr><th>resource_uri</th><td>{{ source.resource_uri }}</td></tr>

<tr><th>creative_commons</th><td>{{ source.creative_commons }}</td></tr>
</table>

<pre>
{{ source }}
</pre>

</div><!-- .source-detail -->
{% endblock contents %}
