{% extends "wikiprox/base.html" %}


{% block title %}Article To Be Published{% endblock %}


{% block contents %}
<div class="span12">

<p>
              <a href="/categories">Browse Topics</a>
&nbsp;|&nbsp; <a href="/contents">Table of Contents A-Z</a>
&nbsp;|&nbsp; <a href="/authors/">Authors</a>
&nbsp;|&nbsp; <a href="/search">Search</a>
</p>

<h1 id="firstHeading" class="firstHeading">To Be Published</h1>

<p class="alert alert-info">
<strong>We're sorry!</strong><br />This article is in development. It will be published prior to the September 2012 launch of the Encyclopedia. Please check back again!
</p>

</div><!-- .span12 -->
{% endblock contents %}
