<div class="primarysource video">
  <a href="{{ MEDIA_URL }}jwplayer-5.9/player.swf"
     class="lightview"
     data-lightview-type="flash"
     data-lightview-options="
         width:{{ xy.0 }}, height:{{ xy.1 }},
         keyboard: { esc: false },
         flashvars: {
             file:'{{ streaming_url }}',
             image:'{{ keyframe }}',
             width:{{ xy.0 }}, height:{{ xy.1 }},
             autostart:false
         }"
     data-lightview-caption="{{ caption }} {{ courtesy }} <a href='{{ href }}'>MOAR</a>"
     data-lightview-group="mixed">
    <img src="{{ keyframe }}" />
  </a>
  <br/>
  <span class="caption">
    {{ caption }}
    {{ courtesy }}
    <a href="{{ href }}">MOAR</a>
  </span>
</div>
