<div class="primarysource video">
  <a href="mediaspace"
     class="lightview"
     data-lightview-type="inline"
     data-lightview-group="mixed"
     data-lightview-options="
         keyboard: { esc: false },
         afterUpdate: function(element, position) {
             //jwplayer callback script
             jwplayer('mediaspace').setup({
                 'controlbar': 'bottom',
                 'width': '{{ xy.0 }}',
                 'height': '{{ xy.1 }}',
                 'provider': 'rtmp',
                 'image': '{{ thumb_lg }}',
                 'file': '{{ streaming_url }}',
                 {% if rtmp_streamer %}'streamer': '{{ rtmp_streamer }}',{% endif %}
                 'modes' : [
                     {
                         type: 'flash',
                         src: '{{ MEDIA_URL }}/jwplayer-5.9/player.swf'
{% if original %}
                     },
                     {
                         type: 'html5',
                         config: {
                             'file' : '{{ original }}',
                             'provider' : 'video'
                         }
                     },
                     {
                         type: 'download',
                         config: {
                             'file' : '{{ original }}',
                             'provider' : 'video'
                         }
{% endif %}
                     }
                 ],
                 autostart: false
             });
         }"
     data-lightview-caption="{{ caption }} {{ courtesy }} <a class='more' href='{{ href }}'>More info &raquo;</a>"
  >
    <img src="{{ thumb_sm }}" />
  </a>
  <br/>
  <span class="caption">
    {{ caption }}
    {{ courtesy }}
    <a class="more" href="{{ href }}">More info &raquo;</a>
  </span>
</div>
<div id="mediaspace" style="display:none;width:680px;height:680px;">This div will end up in the lightbox</div>
