{% extends "wikiprox/base.html" %}


{% block title %}{{ title }}{% endblock %}


{% block contents %}
<div id="error-404" class="span12">

<p>
              <a href="{% url 'wikiprox-contents' %}">Browse Topics</a>
&nbsp;|&nbsp; <a href="{% url 'wikiprox-contents' %}">Table of Contents A-Z</a>
&nbsp;|&nbsp; <a href="{% url 'wikiprox-authors' %}">Authors</a>
&nbsp;|&nbsp; <a href="{% url 'search' %}">Search</a>
</p>

<h1>404 - Page Not Found</h1>
<!-- front -->

<p><i>
You step in the stream<br />
But the water has moved on.<br />
That page is not here<br />
</i></p>

<p>
We're sorry, the page that you requested does not exist.
</p>

</div>
{% endblock contents %}
