{% extends "wikiprox/base.html" %}
{% load wikiprox_tags %}


{% block title %}Timeline{% endblock %}


{% block css %}{{ block.super }}
  <style>
    dl#events dd { margin-bottom:10px; }
  </style>
{% endblock css %}


{% block contents %}{{ block.super }}

<!-- wikiprox/events.html -->
<div id="events" class="span12">

<h1 id="firstHeading" class="firstHeading">Timeline</h1>

{% if timeout %}
<div class="alert alert-danger">
Could not get timeline data: HTTP request timed out.
</div>
{% endif %}

<dl id="events">
{% for event in events %}
  <dt>
    {{ event.start_date|date:"F j, Y" }}
    {% if event.end_date %}&mdash;{{ event.end_date|date:"F j, Y" }}{% endif %}
  </dt>
  <dd>
    {% if event.title %}{{ event.title|safe }}<br/>{% endif %}
    {{ event.description|safe }}
    {% if event.url %}For more information: <a href="{{ event.url }}">{{ event.url }}</a><br/>{% endif %}
  </dd>
{% endfor %}
</dl>

</div><!-- #events .span12 -->
{% endblock contents %}
