<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} | Tansu</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/assets/css/bootstrap-responsive.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/mediawiki-common.css" />
  <style>
    .navbar {
      background: #333;
      padding-left: 10px;
    }
  </style>
  {% block css %}{% endblock css %}
</head>
<body>


<div class="navbar">
  <div class="navbar=inner">
    <div class="container">

<a class="brand" href="{% url index %}">Densho Test Wiki</a>
<ul class="nav">
  <li><a href="{% url index %}">Home</a></li>
  {% if title %}<li class="active"><a href="#">{{ title }}</a></li>{% endif %}
</ul>
<form class="navbar-search pull-right" method="get" action="{% url search %}">
  <input type="text" class="search-query" placeholder="Search">
</form>
<ul class="nav pull-right">
  <li><a href="{% url about %}">About</a>
</ul>

    </div><!-- .container -->
  </div><!-- .navbar-inner -->
</div><!-- .navbar -->


<div class="container">


{% block contents %}{% endblock contents %}


</div><!-- .container -->


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
{% block javascript %}{% endblock javascript %}


</body>
</html>
