			<header class="jumbotron subhead" id="message-head">
			  <h1>A Message from the Editor</h1>
				<p class="lead">Brian Niiya, Director of Content, Densho</p>
			</header>


		<section id="message">

			<p>The intent of this first phase of the encyclopedia is to provide a
			free, easy-to-use, and reliable reference work on the World War II
			exclusion and incarceration of Japanese Americans and related topics.
			While not a scholarly work &mdash; and not directly intended for an academic
			audience &mdash; we wanted it to reflect the state of scholarship in the field
			and to draw on the latest research.</p>

			<p>I selected the headwords by reviewing some of the major overview works
			on the Japanese American World War II experience and extracting
			concepts that seemed to recur in them. These included some topics
			related to the Japanese American experience prior to the war, since it
			is generally accepted now that one cannot understand the World War II
			period without understanding what came before. Recent overview works
			also cover what happened to Japanese Americans in the early postwar
			years as individuals and communities struggled to rebuild their lives
			and also cover the movement for redress and reparations that
			culminated with the Civil Liberties Act of 1988. So topics related to
			those general time periods are also a part of this encyclopedia.</p>

			<p>But beyond these basic topics &mdash; topics that one cannot really tell the
			story of the Japanese American World War II experience without &mdash; I also
			wanted to include a range of other topics that scholars have explored
			in recent years. Thus, I looked at the wide range of books and
			academic journal articles old and new &mdash; and also drew from the topics
			covered in print reference books including the Japanese American
			encyclopedia I edited for the Japanese American National Museum some
			twenty years ago &mdash; to select other headwords. The advisors to the
			project also contributed their ideas and comments as did the various
			authors. But whether these were the core topics or more secondary
			ones, the idea is that any of the topics included in this first phase of the
			encyclopedia could be written purely based on secondary sources.</p>

			<p>There are a couple of specific categories of topics I wanted to
			discuss a bit further. One are the sites of incarceration
			themselves &mdash; the ten War Relocation Authority (WRA) camps (the "Big 10"
			as they are informally referred to in the Densho office), the
			so-called "assembly centers," and the confusing array of other camps
			run by the army, the Immigration and Naturalization Service, and other
			entities for holding interned enemy aliens, dissidents from the WRA
			camps, and others. Since Densho had previously done a project titled
			"Sites of Shame" (SoS) a few years back that included information on a
			large number of these camps, we decided to import that information
			into the encyclopedia and create entries for each of the sites covered in SoS. I directed the authors of these entries &mdash; who are often people
			involved with the preservation of the sites today &mdash; to write not only
			about the World War II period, but also about the sites before the war
			and about any contemporary efforts to preserve, memorialize, or
			interpret the sites. Some of these articles are very brief &mdash; and need
			authors &mdash; since there has been little research on some of the individual
			camps. But over time, we hope to expand these "camp" articles with
			your help. And, yes, we do know that the list of camps covered in SoS
			is incomplete. For instance, a recently commissioned Special Resource
			Study by the National Park Service involves the exploration of
			thirteen sites just in Hawai'i; of those thirteen, just two are
			included in SoS and thus in this encyclopedia. Over time, we hope to
			add as many of these other sites as we can.</p>

			<p>The other category of topics I wanted to expand upon a bit are the
			biographies. The main criterion for the biographical entries are
			individuals who have been the subject of scholarly inquiry, whether
			non-Japanese Americans who played some role in the story of exclusion
			and incarceration or Japanese Americans themselves. In addition to
			scholarly works, I also mined mainstream biographical books aimed at
			a general audience, such as Tom Brokaw's The Greatest Generation.
			Beyond there being some reliable body of literature on these individuals,
			I also made the decision to limit the biographical entries in this first phase
			of the encyclopedia to those who were old enough to have played some
			direct role in the incarceration story, as opposed to the many who were
			incarcerated as children and whose subsequent lives may have been
			shaped by that experience. Thus, there is an article on Yuri Kochiyama,
			but not one on Richard Aoki, to name two Japanese Americans who have
			been the subjects of recent academic biographies. The exception to this
			are younger individuals who played some role in the redress movement,
			such as Robert Matsui.</p>

			<p>I should also mention the support of a grant from the California Civil
			Liberties Public Education Fund (CCLPEF). After the first set of
			headwords were selected, we received funding from CCLPEF for some
			additional articles about the California experience that we would not
			otherwise have done. Many kinds of topics may have relevance to
			California, which did after all have the largest Japanese American
			population of the 48 states in 1942; however topics that were specific
			to California were harder to generate. A large number of the added
			entries ended up being biographical, whether of individuals from
			California or whose life's work took place there. There are also some
			more fully developed articles on army or INS camps in California (which I know somewhat violates my earlier assertion that all entries
			could be written from secondary sources), a few legal cases based in
			California, and organizations based there. But this additional
			funding is a good part of the reason why there may be an
			overrepresentation of biographical figures having to do with
			California.</p>

			<p>I should also mention the advisory committee for the encyclopedia and
			explain their role. In addition to providing input into the selection
			of headwords, I've also asked them review some of the articles in
			their areas of expertise and to make suggestions for revisions. While
			I have mostly taken their advice, I have in the end made the final
			decisions on what to include and what not to include and in the
			particular way the entries are edited. So you should not blame them
			for any deficiencies or disagreements you have with the entries and
			their selection. I do owe them many thanks for their frank advice and
			encouragement and for their direct contributions to the encyclopedia
			as well.</p>

			<p>Also owed many thanks are the Densho staff: Dana Hoshide and Caitlin
			Oiye for selection of primary sources and copyediting, Virginia Yamada
			for grant management, Geoff Jost for doing the technical stuff that I
			don't understand, Geoff Froh for the overall project management, and
			Tom Ikeda for the ultimate oversight and conception of the project.
			The group has been genuinely a pleasure to work with &mdash; though perhaps
			this is because I am working from Honolulu they are mostly in Seattle!
			At any rate, what you see is truly a team effort.</p>

			<p>I'd also like to acknowledge the many authors who have written one
			or many articles for the encyclopedia. Of course this work wouldn't
			have been possible without their specific expertise, adherence to
			deadlines (at least some of them), and openness to revision and
			editing.</p>

			<p>Having worked mostly in print in the past, I find the online format
			both a blessing and a curse. A print encyclopedia is out of date the
			day it is published. In the interim between submitting a final
			manuscript and holding the finished book in your hands, inevitably,
			someone has passed away, some new article has changed the way we
			understand some topic, some new book has brought to light some event
			no one knew about before. The great advantage of the online format is
			that it is easy to update and to keep current. Theoretically, this
			encyclopedia will never be out of date. This is the blessing. On the other hand, knowing that your job was done once a book goes to print
			brings a sense of finality, and you can safely move on to the next
			project. With an online project, your work is in a sense never
			finished; you can never put your feet up and say, "this is it." That
			is the curse. I have resigned myself to having this encyclopedia be a
			part of my job for as long as it—or I—live/s.</p>

			<p>But I wouldn't have it any other way. I thank Densho and its funders
			and supporters for the opportunity to work on this project and look
			forward to refining and expanding it over the next few years with your
			help and participation.</p>

		</section>	
