{% extends "base.html" %}


{% block title %}Home{% endblock %}


{% block contents %}
<div class="container">

		<header class="jumbotron subhead">
	 		<p class="lead" style="color:#777;">A free on-line resource about the history of the Japanese American WWII exclusion and incarceration experience</p>
	  	</header> <!-- end div.jumbotron -->

	<hr />

	<div class="row">



		<div id="homeCarousel" class="carousel slide span6" style="max-width:870px;">
	  		<!-- Carousel items -->
	  		<div class="carousel-inner">
	    		<div class="active item">
					<a href="/Korematsu_v._United_States/"><img src="{{ MEDIA_URL }}img/HC-en-denshopd-i35-00428-1.jpg" alt="" /></a>
	    			<div class="carousel-caption">
						<h4>Korematsu v. United States</h4>
						<p>Amicus Curiae brief filed on behalf of the states of California, Oregon and Washington in the Supreme Court case Korematsu v. United States, Oct. 1944 <a href="/Korematsu_v._United_States/">Read the article &rsaquo;&rsaquo;</a></p>
					</div>
	    		</div>
	    		<div class="item">
					<a href="/Tule_Lake/"><img src="{{ MEDIA_URL }}img/HC-en-denshopd-i37-00297-1.jpg" alt="" /></a>
	    			<div class="carousel-caption">
						<h4>Tule Lake</h4>
						<p>Segregated Japanese Americans from the Manzanar concentration camp, California arriving at Tule Lake, 1943, Tule Lake concentration camp, California <a href="/Tule_Lake/">Read the article &rsaquo;&rsaquo;</a></p>
					</div>
	    		</div>
	    		<div class="item">
					<a href="/Manzanar_Children's_Village/"><img src="{{ MEDIA_URL }}img/HC-en-denshopd-i217-00022-1.jpg" alt="" /></a>
	    			<div class="carousel-caption">
						<h4>Manzanar Children's Village</h4>
						<p>Mr. Matsumoto and children at the children's garden, photograph by Ansel Adams, 1943, Manzanar concentration camp, California <a href="/Manzanar_Children's_Village/">Read the article &rsaquo;&rsaquo;</a></p>
					</div>
	    		</div>
	    		<div class="item">
					<a href="/Santa_Anita_Pacemaker_(newspaper)/"><img src="{{ MEDIA_URL }}img/HC-en-denshopd-i146-00001-1.jpg" alt="" /></a>
	    			<div class="carousel-caption">
						<h4>Santa Anita Pacemaker (newspaper)</h4>
						<p>Volume I, number 2 of the Santa Anita Pacemaker, Apr. 24, 1942, Santa Anita Assembly Center, California <a href="/Santa_Anita_Pacemaker_(newspaper)/">Read the article &rsaquo;&rsaquo;</a></p>
					</div>
	    		</div>
	    		<div class="item">
					<a href="/Charles_Kikuchi/"><img src="{{ MEDIA_URL }}img/HC-en-denshopd-p215-00001-1.jpg" alt="" /></a>
	    			<div class="carousel-caption">
						<h4>Charles Kikuchi</h4>
						<p>Charles Kikuchi with daughter, c. 1950, New York, New York (Courtesy of Yuriko Amemiya Kikuchi and the Department of Special Collections, Charles E. Young Library, UCLA) <a href="/Charles_Kikuchi/">Read the article &rsaquo;&rsaquo;</a></p>
					</div>
	    		</div>
	    		<div class="item">
					<a href="/Yuri_Kochiyama/"><img src="{{ MEDIA_URL }}img/HC-en-denshovh-kyuri-01.jpg" alt="" /></a>
	    			<div class="carousel-caption">
						<h4>Yuri Kochiyama</h4>
						<p>Prominent Japanese American human rights activist in Harlem (1960s-1999) and Oakland (1999-present).  <a href="/Yuri_Kochiyama/">Read the article &rsaquo;&rsaquo;</a></p>
					</div>
	    		</div>
	    		<div class="item">
					<a href="/Military_Intelligence_Service_Language_School/"><img src="{{ MEDIA_URL }}img/HC-en-denshopd-p179-00167-1.jpg" alt="" /></a>
	    			<div class="carousel-caption">
						<h4>Military Intelligence Service Language School</h4>
						<p>Military Intelligence Service Language School group photo of Class C-1, 1944, Camp Savage, Minnesota <a href="/Military_Intelligence_Service_Language_School/">Read the article &rsaquo;&rsaquo;</a></p>
					</div>
	    		</div>
	    		<div class="item">
					<a href="/Resettlement_in_New_York/"><img src="{{ MEDIA_URL }}img/HC-en-denshopd-p205-00006-1.jpg" alt="" /></a>
	    			<div class="carousel-caption">
						<h4>Resettlement in New York</h4>
						<p>"Citizen's Indefinite Leave" card issued by the War Relocation Authority, Sept. 20, 1943 (Courtesy of the Bill Fuchigami Collection) <a href="/Resettlement_in_New_York/">Read the article &rsaquo;&rsaquo;</a></p>
					</div>
		    		<div class="item">
						<a href="/Sue_Kunitomi_Embrey/"><img src="{{ MEDIA_URL }}img/HC-en-denshovh-esue-01.jpg" alt="" /></a>
		    			<div class="carousel-caption">
							<h4>Sue Kunitomi Embrey</h4>
							<p>Sueko Sue Kunitomi Embrey (1923–2006) was an activist, educator, writer and longtime chair of the Manzanar Committee <a href="/Sue_Kunitomi_Embrey/">Read the article &rsaquo;&rsaquo;</a></p>
						</div>
		    		</div>
	    		</div>


	  		</div> <!-- end div.carousel-inner -->
	  		<!-- Carousel nav -->
	  		<a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
	  		<a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
		</div> <!-- end div.carousel -->

	 	<div class="span6">
	    	<div>
	      		<h1>Explore</h1>
	       		<p class="lead">Browse the articles in the Encyclopedia through a list of <a href="/categories/">categories</a> or use the <a href="/contents/">A-Z</a> table of contents.</p>
				<p>The Encyclopedia covers key concepts, people, events, and organizations that played a role in the <a href="/history/">forced removal and incarceration of Japanese Americans</a> during World War II. The reviewed articles are written by a <a href="/authors/">wide range of contributors</a>, and are enhanced with photos, documents and video drawn from Densho's digital archives and other sources.</p>
	    	</div>
	     	<div>
	      		<h2 style="color: #ED5417">This Is A Live Project</h2>
	      		<p>The first version of the Encyclopedia officially launched September 1 with more than 300 articles. It is a continuing project with new articles and features being added on an ongoing basis. We would appreciate <a href="/about/#contact">your ideas and feedback</a>.</p>
	    	</div>
	  	</div> <!-- end div.span6 -->


	</div class="row">


		<hr>


	  	<div class="row">
			<div class="span10">
				<p>The Encyclopedia was made possible by grants from the Japanese American Confinement Sites Grant Program, administered by the National Park Service and by the California State Library through the California Civil Liberties Public Education Fund.</p>
			</div>	
			<div class="span2">
				<img src="{{ MEDIA_URL }}img/icon-NPSLogo.gif" width="40" height="50" align="middle" />
				<img src="{{ MEDIA_URL }}img/icon-CCLPEPLogo.gif" width="46" height="50"/>		
			</div>
		</div>
		<div class="row">	
			<div class="span12">		
				<p>This material is based upon work assisted by a grant from the Department of the Interior, National Park Service. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the Department of the Interior.</p>

			</div>
	  	</div> <!-- end div.row -->

		<hr>


	<footer>
  		<p>
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br /> &copy; Densho 2012. This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. Where indicated, images and other primary source materials may be subject to use restrictions by their respective rights holders. <a href="/about/#usingandciting">More information &raquo;&raquo;</a>
		</p>
	</footer>

</div> <!-- /container -->
{% endblock contents %}

{% block javascript %}
<script>
  $(document).ready(function(){
    $('.carousel').carousel({
		interval: 9000
	});
  });
</script>
{% endblock javascript %}

