{% extends "base.html" %}


{% block title %}Home{% endblock %}


{% block contents %}
<div id="index" class="span12">

<div class="container">

  <div class="hero-unit">
    <h1>Welcome to the Densho Encyclopedia<span class="label label-info">Beta</span>!</h1>
    <p>The Encyclopedia contains articles </p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span4">
      <h2>Browse Topics</h2>
       <p><a href="/categories/">List of Topics?</a></p>
    </div>
    <div class="span4">
      <h2>Table of Contents A-Z</h2>
       <p><a href="/contents/">Hmmm....</a></p>
   </div>
    <div class="span4">
      <h2>Featured Article</h2>
      <p>Is this even here? Maybe...</p>
    </div>
  </div>

  <div class="row">
	<div class="span12">
		The Encyclopedia was made possible through the generous support of our funders.
	</div>
  </div>
  
<hr>

  <footer>
    <p>&copy; Densho 2012. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. Where indicated, images and other primary source materials may be subject to use restrictions by their respective rights holders. More information <a href="/about/#Using_and_Citing">&raquo;</a></p>
  </footer>

</div> <!-- /container -->

<p>
<a href="/wiki/{{ WIKIPROX_MEDIAWIKI_DEFAULT_PAGE }}">Editors page</a>
</p>

<p>
[edit: front/templates/index.html]
</p>

</div><!-- #index .span12 -->
{% endblock contents %}
