<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/assets/css/bootstrap.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/assets/css/bootstrap-responsive.css" />

</head>
<body>
<div id="cite" class="span12">

<div class="plainlinks">

  <h2>
  Citing Densho Articles
  </h2>

  <h3 id="APA">American Psychological Association (APA)</h3>
  <p>
  [Author last name], [Author first (and middle if available) initial]. ([Date published]). [Article name]. <i>Densho Encyclopedia</i>. Retrieved on [Date retrieved] from [URL].
  </p>

  <p>Example:<br />
Odo, F. (2012). Varsity Victory Volunteers. <i>Densho Encyclopedia</i>. Retrieved on July 31, 2015 from https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/.
</p>

<p>If no listed author:<br />
Varsity Victory Volunteers. (2012). <em>Densho Encyclopedia</em>. Retrieved on July 31, 2015 from https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/.
</p>

<p>For further information:<br />
<a href="http://www.apastyle.org/learn/quick-guide-on-references.aspx#Websites" target="_blank">http://www.apastyle.org/learn/quick-guide-on-references.aspx#Websites</a>
</p>


  <h3 id="MLA">Modern Language Association (MLA) Style</h3>
<p>
[Author last name], [Author first name]. "[Article name]." <em>Densho Encyclopedia</em>. Densho, [Date published]. Web. [Date retrieved].
</p>

<p>Example:<br />
Odo, Franklin. "Varsity Victory Volunteers." <em>Densho Encyclopedia</em>. Densho, 2012. Web. 31 July 2015.
</p>

<p>If no listed author:<br />
"Varsity Victory Volunteers." <em>Densho Encyclopedia</em>. Densho, 2012. Web. 31 July 2015.
</p>

<p>For further information:<br /> 
<a href="http://owl.english.purdue.edu/owl/resource/747/08/" target="_blank">http://owl.english.purdue.edu/owl/resource/747/08/</a>
</p>

  <h3 id="Chicago">Chicago Manual of Style</h3>
  <p>
  [Author last name], [Author first name]. "[Article name]." <em>Densho Encyclopedia</em> ([Date of publication]) Accessed [Date retrieved]. [URL].
</p>

<p>Example:<br />
	Odo, Franklin. "Varsity Victory Volunteers." <em>Densho Encyclopedia</em> (2012). Accessed July 31, 2015. https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/.
</p>

<p>If no listed author:<br />
	"Varsity Victory Volunteers." <em>Densho Encyclopedia</em> (2012). Accessed July 31, 2015. https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/.
</p>

<p>For further information:<br /> 
	<a href="http://www.chicagomanualofstyle.org/tools_citationguide.html" target="_blank">http://www.chicagomanualofstyle.org/tools_citationguide.html</a>
</p>

  <h3 id="MHRA">Modern Humanities Research Association (MHRA) Style</h3>

  <p>
	[Author last name], [Author first name], '[Article name]', <em>Densho Encyclopedia</em> ([Date of publication]) &lt;[URL]&gt; [accessed [Date retrieved]].
</p>

<p>Example:<br />
	Odo, Franklin, 'Varsity Victory Volunteers', <em>Densho Encyclopedia</em> (2012) &lt;https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/&gt; [accessed 31 July 2015].
</p>

<p>If no listed author:<br />
	'Varsity Victory Volunteers', <em>Densho Encyclopedia</em> (2012) &lt;https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/&gt; [accessed 31 July 2015].
</p>

<p>For further information:<br />
	<a href="http://www.mhra.org.uk/Publications/Books/StyleGuide/download.shtml" target="_blank">http://www.mhra.org.uk/Publications/Books/StyleGuide/download.shtml</a>
	<a href="http://www.cardiff.ac.uk/insrv/resources/guides/but028.pdf" target="_blank">http://www.cardiff.ac.uk/insrv/resources/guides/but028.pdf</a>
  </p>


  <h3 id="CBE.2FCS">Council of Science Editors (CSE) Style
[Formerly Council of Biology Editors (CBE)]</h3>
  <p>
	[Author last name] [Author first (and middle if available) initial]. [Article name] <em>Densho Encyclopedia</em> [Internet]. [Date published]. [cited [Date retrieved]]. Available from [URL]. 
</p>

<p>Example:<br />
	Odo F. Varsity Victory Volunteers. <em>Densho Encyclopedia</em> [Internet]. 2012 [cited 2015 July 31]. Available from: https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/.
</p>

<p>If no listed author:<br />
	Varsity Victory Volunteers. <em>Densho Encyclopedia</em> [Internet]. 2012 [cited 2015 July 31]. Available from: https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/.
</p>

<p>For further information:<br /> 
	<a href="http://www.libraries.psu.edu/psul/lls/students/cse_citation.html" target="_blank">http://www.libraries.psu.edu/psul/lls/students/cse_citation.html</a>
</p>


  <h3 id="Bluebook_style">Bluebook style</h3>
  <p>
	[Author first name] [Author last name], [<em>Article name</em>], DENSHO ENCYCLOPEDIA, ([Date published]), [URL].
</p>

<p>Example:<br />
	Franklin Odo, <em>Varsity Victory Volunteers</em>, DENSHO ENCYCLOPEDIA, (2012),  https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/.
</p>

<p>If no listed author:<br /> 
	<em>Varsity Victory Volunteers</em>, DENSHO ENCYCLOPEDIA, (2012),  https://encyclopedia.densho.org/Varsity%20Victory%20Volunteers/.
</p>

<p>For further information:<br />
	<a href="http://libraryguides.nesl.edu/content.php?pid=358326&sid=2934955#inet" target="_blank">http://libraryguides.nesl.edu/content.php?pid=358326&amp;sid=2934955#inet</a>  
	
</p>


</div><!-- .plainlinks -->


</div>
</body>
</html>
