{% extends "front/base.html" %}


{% block title %}Editor's Message | About{% endblock %}


{% block contents %}
<div class="container-fluid">
  <div class="row-fluid">
	<div class="span12">

<p>
<a href="{% url 'about' %}">&laquo; About the Encyclopedia</a>
</p>

{% include "front/editorsmessage-text.html" %}

      <div class="toplink"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>

	</div><!-- .span12 -->
  </div> <!-- .row-fluid -->
</div> <!-- .container-fluid -->
{% endblock contents %}
