{% extends "front/base.html" %}


{% block title %}About the Incarceration{% endblock %}


{% block contents %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
         <div class="sidebar-nav">
		    <ul class="nav nav-list">
              <li class="nav-header">Contents</li>
		      <li><a href="#immigration">Immigration and prewar prejudice</a></li>
		      <li><a href="#arrest">Arrest of community leaders</a></li>
		      <li><a href="#removal">Mass removal of U.S. citizens</a></li>
		      <li><a href="#detention">Dispersal to detention sites throughout the United States</a></li>
		      <li><a href="#transitions">Some leave camps, 'disloyals' transferred to Tule Lake</a></li>
		      <li><a href="#exclusionends">Government ends West Coast exclusion</a></li>
		      <li><a href="#apology">Admission of wrongdoing, apology from government</a></li>
		    </ul>
		</div> <!-- end div.sidebar-nav -->
	</div> <!-- end div.span3 -->
	
	<div class="span10">
		
		<!-- Masthead
		================================================== -->
		<header class="jumbotron subhead" id="overview">
		  <h1>About the Incarceration</h1>
		  <p class="lead">A short introduction to the history of the exclusion and incarceration of Japanese Americans during WWII.</p>
		</header>
		
		
			<!--What Does an American Look Like?
			For that matter, what does an enemy look like? And what can happen to those people who look like the enemy? In 1943, President Franklin D. Roosevelt said, "The principle on which this country was founded and by which it has always been governed is that Americanism is a matter of mind and heart; Americanism is not, and never was, a matter of race or ancestry." [1]
			A year earlier, however, Roosevelt had authorized incarcerating more than 110,000 innocent people based on their ancestry, in what he called "concentration camps." Although two-thirds were U.S. citizens, they were targeted because of their ancestry and the way they looked. How could this happen?-->

		<section id="immigration">
				<h2>Immigration and prewar prejudice</h2>

		<p>From 1885 to 1924, approximately 200,000 Japanese immigrated to Hawaii and 180,000 Japanese immigrated to the mainland United States. Over time, this first generation (Issei) built a vibrant community, raising families, starting churches, and forming social and business organizations. Their success met with prejudice and an anti-Japanese movement. Discriminatory laws prevented Issei from becoming naturalized United States citizens. They were barred from owning land, marrying whites and sending their children to schools attended by whites. Congress passed the Immigration Act of 1924 barring any further immigration from Japan.</p>

		<p>The second generation (Nisei) also faced discrimination. Even though they were born in the U.S., spoke English like other Americans and often did well in school, these U.S. citizens of Japanese ancestry faced discrimination in employment, housing, public accommodations (restaurants, stores, hotels, swimming pools, etc.) and social and civic activities.</p>
		<div class="toplink"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
		
		</section>	


		<section id="arrest">
				<h2>Arrest of community leaders</h2>

		<p>On December 7, 1941, Japan attacked U.S. military bases in Pearl Harbor, Hawaii. More than 3,500 servicemen were killed or wounded. In the hours following the attack, the FBI arrested over 1,200 Japanese immigrant (Issei) men: businessmen, Buddhist priests, Japanese language teachers, and other community leaders.</p>

		<p>More than 5,500 Issei men were eventually picked up and held as potential threats to national security. Most of these men were taken first to Immigration and Naturalization Service (INS) detention stations and then to Department of Justice (DOJ) internment camps to undergo hearings. Officially, these internment cases were given individual legal review, but in practice, the majority of issei were imprisoned without evidence that they posed any threat to national security. Internees were not allowed legal representation. Approximately 1,700 were "released" to War Relocation Authority (WRA) incarceration camps after these hearings, but most were transferred to U.S. Army internment camps.</p>
		
		<div class="toplink"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
		</section>	

		<section id="removal">
				<h2>Mass removal of U.S. citizens</h2>

		<p>On February 19, 1942, President Franklin D. Roosevelt signed Executive Order 9066, which authorized military commanders to designate military areas from which any person could be excluded. Congress supported the Executive Order by authorizing a prison term and fine for a civilian convicted of violating the military order. General John L. DeWitt, Western Defense Command, then issued over 100 military orders that only applied to civilians of Japanese ancestry living in the West Coast states. Thus, the President and Congress authorized the removal and incarceration of over 110,000 people based solely on race without evidence of wrongdoing, charges or hearings. More than two-thirds of those incarcerated were U.S. citizens.</p>

		<p>Ironically, over 150,000 people of Japanese ancestry in Hawaii were not removed or incarcerated. General Delos Emmons, who became commanding general in Hawaii shortly after the bombing of Pearl Harbor, treated the Issei and Nisei as loyal to the United States. Although there were many false stories of Japanese American spies, General Emmons repeatedly rejected anti-Japanese pleas to remove persons of Japanese ancestry from Hawaii. He knew there was no evidence of Japanese American espionage or sabotage. In fact, during World War II, no Japanese American in the U.S., Hawaii or Alaska, citizen or immigrant, was ever convicted of espionage or sabotage.</p>
		<div class="toplink"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
		</section>	

		<section id="detention">
				<h2>Dispersal to detention sites throughout the United States</h2>

		<p>The general public, through books, movies, and school lessons, is most familiar with the ten WRA incarceration camps such as Manzanar. The full extent of the imprisonment, however, included more than fifty-nine other government facilities: temporary "assembly centers," immigration detention stations, federal prisons, and internment camps. Italian and German immigrants, Alaskan natives, Japanese Latin Americans, and Japanese Hawaiians were also sent to live at these sites.</p>

		<p>Which detention facility a person entered depended on several factors, including citizenship, perceived level of threat, geography, degree of cooperation or protest, and sheer chance. For the most part, the DOJ and U.S. Army camps interned first-generation (issei) men who were arrested by the FBI, while the WRA camps incarcerated both U.S. citizens and immigrants affected by the exclusion order.</p>
		<div class="toplink"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
		</section>	

		<section id="transitions">
				<h2>Some leave camps, 'disloyals' transferred to Tule Lake</h2>

		<p>As early as April 1942, even before incarcerees were transferred from the temporary "assembly centers" to incarceration camps, the WRA recognized that Japanese Americans eventually would have to reenter society. Thus, the WRA enacted a policy of granting short-term or indefinite leave for college or work to Japanese Americans who were U.S. citizens (nisei) and who could find sponsors. Additionally, thousands of nisei men enlisted in the military and served in combat.</p>

		<p>To help administer the military draft and work release program, the U.S. Army and the WRA produced "loyalty questionnaires" for all WRA incarcerees seventeen years of age and older. The questionnaires contained two questions that caused confusion and controversy for incarcerees. Despite serious problems with the wording and meaning of the questions, government officials and others generally considered those who answered "no" to these two questions to be "disloyal" to the United States, and they were transferred to the Tule Lake incarceration camp which was designated a segregation camp. "Yes" answers to these questions made incarcerees eligible for service in the U.S. Army, and some became eligible for release and resettlement in areas outside of the West Coast exclusion zones.</p>
		<div class="toplink"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
		</section>	

		<section id="exclusionends">
				<h2>Government ends West Coast exclusion</h2>

		<p>In December 1944 the Supreme Court ruled in the case brought by Mitsuye Endo that a loyal U.S. citizen could not be held in a WRA incarceration camp against her will. While the case was being heard, federal officials recognized that the continuing incarceration was not legally defensible and began preparations to close the incarceration camps. In addition to the closing of the camps, the exclusion orders were rescinded and persons of Japanese ancestry were allowed to return to the West Coast. On March 20, 1946, the last WRA incarceration camp, Tule Lake, was closed. The DOJ internment camps remained open longer. The last internment camp to close was Crystal City in January 1948.</p>

		<p>Upon release, the majority of those who had been incarcerated were given only $25 and one-way transportation. The freed Japanese Americans returned to discover many of their homes and farms had been vandalized and their belongings stolen. Even Nisei veterans returning home in their uniforms from combat duty endured racist insults. Starting over was especially hard for the Issei, who were entering their senior years with little to show for a lifetime of work.</p>
		<div class="toplink"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
		</section>


		<section id="apology">
				<h2>Admission of wrongdoing, apology from government</h2>

		<p>In the late 1960s community activists started a movement to petition the government to look into potential government wrongdoings. Classified information was uncovered that showed the exclusion order and incarceration were based on racism and falsehoods. In February of 1980, Congress passed an act forming the Commission on Wartime Relocation and Internment of Civilians (CWRIC). This commission conducted hearings in ten cities, heard testimonies from over 750 witnesses, and examined over 10,000 documents. In 1983, the CWRIC issued its report that concluded that military necessity was not the cause of the mass imprisonment. Rather, "...the broad historical causes which shaped these decisions were race prejudice, war hysteria and a failure of political leadership."</p>

		<p>Acting upon the recommendations of the commission, Congress passed the Civil Liberties Act of 1988 and President Reagan signed it into law. This law required payment and apology to survivors of the incarceration caused by Executive Order 9066. Two years later, President George Bush presented the first apologies, along with payments of $20,000 each to the oldest survivors.</p>

		<div class="toplink"><a href="#top"><i class="icon-chevron-up"></i> Top</a></div>
		</section>


	</div> <!-- end div.span9 -->

{% endblock contents %}
