{% extends "front/base.html" %}


{% block title %}Search{% endblock %}


{% block contents %}
<div id="search" class="span12">

<p>
              <a href="{% url 'wikiprox-contents' %}">Browse Topics</a>
&nbsp;|&nbsp; <a href="{% url 'wikiprox-contents' %}">Table of Contents A-Z</a>
&nbsp;|&nbsp; <a href="{% url 'wikiprox-authors' %}">Authors</a>
&nbsp;|&nbsp; <b>Search</b>
</p>

<h1>Search the Encyclopedia</h1>

<gcse:search></gcse:search>

</div><!-- #search .span12 -->
{% endblock contents %}


{% block javascript %}
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script>
  (function() {
    var cx = '{{ GOOGLE_CUSTOM_SEARCH_PASSWORD }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
{% endblock javascript %}
