{% extends "wikiprox/base-print.html" %}
{% load wikiprox_tags %}


{% block title %}{{ title }}{% endblock %}


{% block article %}
<!-- wikiprox/article-print.html -->

<h1 id="firstHeading" class="firstHeading">{{ title }}</h1>

{{ bodycontent|safe }}

{% endblock article %}


{% block sidebar_left %}
<div id="sidebar-left">

  <div class="block primarysources">
    <h2>
    Primary Sources
    </h2>
{% for source in sources %}
    <div class="primarysource-print" style="margin-bottom:32px;">
{% if source.thumbnail_lg %}
<img src="{{ source.thumbnail_lg }}" style="width:500px; float:left; padding-right:10px;" />
{% endif %}
      <div class="metadata" style="">
{{ source.caption|safe|linebreaks }}
{{ source.caption_extended|safe|linebreaks }}
{{ source.courtesy|safe|linebreaks }}
<p>
<strong>Densho ID: {{ source.densho_id }}</strong>
</p>
<p>
http://{{ request.META.HTTP_HOST }}{% url wikiprox-source source.encyclopedia_id %}
</p>
      </div>
      <div style="clear:both;"></div>
    </div><!-- .primarysource-print -->

{% endfor %}
  </div><!-- .block .primarysources -->

</div><!-- #sidebar-left -->
{% endblock sidebar_left %}
