#sidebar-left, #sidebar-right {
    border: 1px solid #eee;
    padding: 5px;
}
#sidebar-left {
}
#sidebar-right {
}


.primarysource, .primarysource img {
}
.primarysource {
    float: right;
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    font-size: smaller;
}
.primarysource left {
    float: left;
    margin-right: 10px;
}
.primarysource img {
    width: 300px;
}

.primarysource-detail img {
    border: 4px solid #eee;
}

.primarysource-detail table {
    border: 1px solid #eee;
    margin-bottom: 10px;
}
.primarysource-detail table th, .primarysource-detail table td {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #eee;
}
.primarysource-detail table th {
    text-align: right;
    border-right: 1px solid #eee;
}
.primarysource-detail table td {
}
