.primarysource, .primarysource img {
}
.primarysource {
    float: right;
    margin: 0px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    font-size: smaller;
}
.primarysource left {
    float: left;
    margin-right: 10px;
}
.primarysource img {
    width: 300px;
}
