{% extends "base.html" %}


{% block title %}Do Words Matter?{% endblock %}


{% block contents %}
<div class="container">

	<!-- Masthead
	================================================== -->
	<header class="jumbotron subhead" id="overview">
	  <h1>Do Words Matter? <small>Euphemistic terminology</small></h1>
	  <p class="lead">Why describing the experiences of Japanese Americans during WWII with words like, "internment" and "relocation," is misleading and inaccurate.</p>
	</header>


<section id="euphemism">

<p>	One of the strategies employed by the federal government to sell the forced removal and confinement of Japanese American from the West Coast during World War II was the use of euphemistic terms that masked the true nature of what was being done. Japanese American were "evacuated" &mdash; as if from a natural disaster or for their own protection &mdash; from their homes and sent to "assembly centers" and "relocation centers," names that gloss over the fact that these were concentration, prison, or detention camps.</p>
	
<p>Densho's policy is to avoid using these and other overtly euphemistic terms for the most part, except when quoting from historic documents or in proper nouns. Contributors to this encyclopedia were asked to adhere to these policies and also to limit the use of the term "internment" to the legally permissible detention of enemy aliens and not to refer to the mass forced removal and incarceration of Japanese Americans, most of whom were U.S. citizens.</p>
</section>	

<div class="page-header">
<h3>Other resources</h3>
</div>
<div class="row">		

<div class="span4">
<p>Densho's terminology conforms with the "Resolution on Terminology" adopted by the Civil Liberties Public Education Fund.<br />
<a href="http://www.momomedia.com/CLPEF/backgrnd.html" target="_blank">Read now &raquo;</a></p>
</div>

<div class="span4">
<p>For examples of these linguistic questions found in the Densho Digital Archive, see "Frontier Colonies or Concentration Camps? Euphemisms for the Incarceration."<br /><a href="http://densho.org/archive/fromthearchive/200902-fromthearchive.asp" target="_blank">Read now &raquo;</a></p>
</div>

<div class="span4">
<p>Roger Daniels, "Words Do Matter," a 5-part article on the Discover Nikkei website.<br /> <a href="http://www.discovernikkei.org/en/journal/2008/2/1/words-do-matter" target="_blank">Read now &raquo;</a></p>
</div>

</div> <!-- div.row -->
{% endblock contents %}

{% block footer %}
<div id="ccNotice">
<p>
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
	</p>
<p>
&copy; Densho 2014 2012. The text of this work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>. Where indicated, images and other primary source materials may be subject to use restrictions by their respective rights holders. <a href="/about/#usingandciting">More information &raquo;</a>
</p>
</div>

<div class="footer" id="footerToolsMenu">

	<a href="/about/#usingandciting">Using and Citing Articles</a> | 
	<a href="/about/#tosprivacy/">Terms of Use/Privacy</a> | 
	<a href="/about/">About</a> | 
	<a href="/about/#contact">Contact</a>
	
</div>

{% if lastmod %}<p class="lastmod">{{ lastmod }}</p>{% endif %}
{% endblock footer %}
